In [1]:
print("Hello, World")

Hello, World

In [2]:
num = .072
total = num + 200
print(total)

200.072

In [3]:
num = 10
another_num = 1.5
total_sum = num + another_num
print(total_sum)

11.5

In [4]:
whats_left_over = 9%3
print(whats_left_over)

0

In [5]:
total_cost = 1 + 3 * 4
print(total_cost)

13

In [6]:
total_cost = 1 + (3 * 4)
print(total_cost)

13

In [7]:
1 if number_of_husbands == 1: 
2  print("So far so good.")

SyntaxError: invalid syntax (<ipython-input-7-bdc029fa3c74>, line 1)

In [ ]:
if species == "cat":
    print("Yep, it's cat.")
else:
        print("Nope, not cat.")

In [ ]:
 if donut_condition == "fresh":
           buy_score = 10 
            else donut_price == "low": 
                buy_score = 5 
                 else: 
                           buy_score = 0

In [ ]:
if age > 65 or age < 21 and res == "U.K.":

In [ ]:
1 if first_name == "Harry": 
2   if last_name == "Potter": 
3     if interest == "wizardry": 
4       print("Welcome back to Hogwarts, Harry!")

In [ ]:
2   if last_name == "Potter":

In [ ]:
city_0 = "Atlanta" 
city_1 = "Baltimore" 
city_2 = "Chicago" 
city_3 = "Denver" 
city_4 = "Los Angeles" 
city_5 = "Seattle"
print("Welcome to " + city_2)

x = int(input("Enter your value"))
y = 15
z = x + y
print(z)

#####